.DS_Store
.history
Gemfile.lock
package-lock.json
node_modules
_site
*-cache.json
*--whisper*.json
*.log
__pycache__
courts/ussc/journals/pdfs
courts/ussc/transcripts/pdfs
courts/ussc/transcripts/text
data/scdb/cache
tmp
