{%- assign source = "arguments" %}
{%- assign term = include.term | default: "1955" %}
{%- assign termEnd = include.termEnd | default: term %}
{%- assign arguments = site.data[source] %}
<h2>Audit Results for October Term {{ term }}{% if term != termEnd %} through October Term {{ termEnd }}{% endif %}</h2>
<p>
  <span><a href="/data/arguments.json">[Raw Argument Data]</a></span>
  <span><a href="/data/advocates.json">[Raw Advocate Data]</a></span>
</p>
<ul class="menu">
  <li><a href="#" onclick="aaExpand(this, event, true)">Expand All</a></li>
  <li><a href="#" onclick="aaExpand(this, event, false)">Collapse All</a></li>
</ul>
<ul class="top">
{%- assign prev_date = "" %}
{%- for event in arguments %}
  {%- if event.term < term or event.term > termEnd %}
    {%- continue %}
  {%- endif %}
  {%- assign first_date = event.dates[0] | split: ":" %}
  {%- if first_date[1] != prev_date %}
    {%- if prev_date != "" %}
    </ul>
  </li>
  {%- endif %}
  <li class="closed" onclick="aaClick(this, event)">{{ first_date[1] }}
    <ul>
  {%- endif %}
  {%- for docket in event.dockets %}
    {%- assign i = forloop.index0 %}
      <li class="closed" onclick="aaClick(this, event)">No. {{ docket }}, {{ event.titles[i] }}{% unless forloop.last %}</li>{% endunless %}
  {%- endfor %}
        <ul>
  {%- for link in event.oyez %}
          <li class="item"><a href="{{ link }}">{{ link }}</a></li>
  {%- endfor %}
  {%- for link in event.nara %}
    {%- assign link_parts = link | split: "/" %}
    {%- assign link_index = link_parts | size | minus: 1 %}
          <li class="item"><a href="{{ link }}">{{ link_parts[link_index] }}</a></li>
  {%- endfor %}
        </ul>
      </li>
  {%- assign prev_date = first_date[1] %}
{%- endfor %}
{%- if prev_date != "" %}
    </ul>
  </li>
{%- endif %}
</ul>
<script>
function aaClick(element, event)
{
    if (event) event.stopPropagation();
    if (element.classList.contains("open")) {
        element.classList.add("closed");
        element.classList.remove("open");
    } else if (element.classList.contains("closed")) {
        element.classList.add("open");
        element.classList.remove("closed");
    }
}
function aaExpand(element, event, fExpand)
{
    if (event) event.preventDefault();
    let elements = document.querySelectorAll(fExpand ? ".closed" : ".open");
    elements.forEach((element) => { aaClick(element); });
}
function aaSurprise()
{
    let elements = document.querySelectorAll(".item");
    let element = elements && elements[Math.random() * elements.length | 0];
    if (element && element.children) window.location.href = element.children[0].href;
}
</script>
