{%- assign location = include.location %}
{%- assign location_id = include.id %}
{%- assign collection = site.data[location][location_id] %}
<h2>{%- if include.link -%}<a href="{{ include.link }}">{%- endif -%}{{ include.title | default: "Collection" }}{%- if include.link -%}</a>{%- endif -%}</h2>
<p><a href="/data/{{ location }}/{{ location_id }}.json">[Raw Data]</a></p>
<ul>
{%- for object in collection %}
  {%- unless object.events %}
  <li><a href="{{ object.link }}">{{ object.titles }}</a></li>
  {%- else %}
    {%- assign words = object.titles | split: ", " %}
    {%- assign length = words.size %}
    {%- assign month_index = length | minus: 2 %}
    {%- assign year_index = length | minus: 1 %}
    {%- assign date = words[month_index] | append: ", " | append: words[year_index] %}
  <li>{{ date }}
    <ul>
    {%- for event in object.events %}
      <li>{{ event }}</li>
    {%- endfor %}
    {%- assign i = 0 %}
    {%- for destination in object.destinations %}
      <li><a href="#" onclick="toggleAudio(this)">{{ destination }}</a>
        <audio preload="none"><source src="{{ object.sources[i] }}" type="audio/mp3"/></audio>
      </li>
      {%- assign i = i | plus: 1 %}
    {%- endfor %}
    </ul>
  </li>
  {%- endunless %}
{%- endfor %}
</ul>
<script type="text/javascript">
  var audios = [];
  function toggleAudio(e) {
    let audio = e.nextElementSibling;
    if (audio.paused) {
      audio.play();
    } else {
      audio.pause();
      e.blur();
    }
    return false;
  }
  window.addEventListener("load", function() {
    audios = document.getElementsByTagName("audio");
  });
  document.addEventListener("play", function(e) {
    for (let i = 0; i < audios.length; i++) {
      if (audios[i] != e.target) {
        if (audios[i].duration > 0 && !audios[i].paused) {
          audios[i].pause();
        }
      }
    }
  }, true);
</script>
